.about-page-container {
    display: flex;
    flex-direction: row;
    grid-gap: 1%;
    align-items: start;
    min-width: 350px;
}

.about-flex-container {
    grid-area: about-flex ;
    display: flex;
    flex-direction: column;
}

.about-contact {
   display: flex;
   flex-direction: column;
}

.about-bio {
    grid-area: bio ;
}


.about-image {
   max-width: 100%;
}