.about-page-container {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: start;
    min-width: 350px;
}




.about-flex-container {
    display: flex;
    flex-direction: column;
}

.about-contact {
    display: flex;
    flex-direction: column;
}

.about-bio {
    max-width: 44%;
    margin-right: 3%;
    display: block;
}

.about-bio_larger_screens {
    width: 375%;
    margin-right: 3%;
    display: none;
}



.about-image {
    max-width: 80%;
    height: auto;
}

.contact1e {
    font-size: 2rem;
    font-weight: normal;
    position: static;

}

.about-contact222 {
    font-size: 1.5rem;

}

.contact3 {
    font-size: 1.1rem;

}

.about-contact222 a:hover,
.contact3 a:hover {
    color: #ff015d;
    filter: brightness(150%);

}

.about-header {
    font-size: 2rem;
    font-weight: bold;
}

.event-list {
    font-size: 1.4rem;
}


.event-list ul {
    list-style-type: none;
}


@media all and (orientation: portrait) and (width <=36rem) {

    .about-page-container {
        flex-direction: column;
    }

    .child-content1 {
        margin-left: 5%;
        margin-right: 0%;
    }

    .contact1e {
        margin-top: 3%;
        font-size: 2.8vh;
        font-weight: bold;
        position: relative;
        left: -2%;
        max-width: 100%;
    }

    .about-bio {
        max-width: 100%;
        margin-right: 4%;
        display: block;
    }

}

@media all and (orientation: landscape) and (height <=36rem) {


    .about-bio {
        max-width: 100%;
        margin-right: 4%;
        display: block;
    }

    .contact1e {
        margin-top: 3%;
        font-size: 1.6rem;
        font-weight: bold;
        position: relative;
        left: -2%;
    }

    .about-image {
        max-width: 51%;
        height: auto;
    }

}



@media all and (orientation: portrait) and (36rem < width < 87.5rem) {

    .info-container1 {
        margin-left: 3.1%;
    }

    .child-content1 {
        margin-top: 8%;
    }

    .about-bio {
        max-width: 87%;
    }

    .about-image {
        max-width: 102%;
    }

}

@media all and (87.5rem <=width) {

    .about-bio {
        display: none;
    }

    .about-bio_larger_screens {
        display: block;
        position: relative;
        left: -0.5%;
    }

    .about-image {
        max-width: 102%;
    }

}

@media all and (135rem <=width) {

    .about-bio {
        display: none;
    }

    .about-image {
        max-width: 102%;
    }

    .contact1e {
        font-size: 6vh;
    }


    .about-contact222 {
        font-size: 3.5vh;

    }

    .contact3 {
        font-size: 3.5vh;
    }

    .about-header {
        font-size: 4vh;
        font-weight: bold;
    }

    .event-list {
        font-size: 3vh;
    }

    .about-bio_larger_screens {
        display: block;
        position: relative;
        left: -0.25%;
    }

}


@media all and (135rem <=height) {

    .about-bio {
        display: none;
    }

    .about-page-container {
        flex-direction: row;
    

    }


    .about-image {
        max-width: 94%;
    }

    .contact1e {
        font-size: 2.5vw;
    }


    .about-contact222 {
        font-size: 3.5vw;

    }

    .contact3 {
        font-size: 3.5vw;
    }

    .about-header {
        font-size: 4vw;
        font-weight: bold;
    }

    .event-list {
        font-size: 3vw;
    }

    .about-bio_larger_screens {
        display: block;
        position: relative;
        left: -0.25%;
    }

}