.about-page-container {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: start;
    min-width: 350px;
}




.about-flex-container {
    display: flex;
    flex-direction: column;
}

.about-contact {
    display: flex;
    flex-direction: column;
}

.about-bio {
    max-width: 44%;
    margin-right: 3%;
    order: 1;
    display: block;
}

.about-bio_larger_screens {
    max-width: 44%;
    margin-right: 3%;
    order: 1;
    display: none;
}



.about-image {
    max-width: 80%;
    height: auto;
}

.contact1e {
    font-size: 2rem;
    font-weight: normal;
    position: static;

}

.about-contact222 {
    font-size: 1.5rem;

}

.contact3 {
    font-size: 1.1rem;

}

.about-contact222 a:hover,
.contact3 a:hover {
    color: #ff015d;
    filter: brightness(150%);

}

.about-header {
    font-size: 2rem;
    font-weight: bold;
}

.event-list {
    font-size: 1.4rem;
}


.event-list ul {
    list-style-type: none;
}


@media all and (orientation: portrait) and (width <=36rem) {

    .about-page-container {
        flex-direction: column;
    }

    .child-content1 {
        margin-left: 5%;
        margin-right: 0%;
    }

    .contact1e {
        margin-top: 3%;
        font-size: 1.6rem;
        font-weight: bold;
        position: relative;
        left: -2%;
    }

    .about-bio {
        max-width: 100%;
        margin-right: 4%;
        display: block;
    }


}