.page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    grid-area: nav;
    height: auto;
    gap: 3em;

}

.page-image1 {
    height: auto;
    object-fit: scale-down;
    max-width: 100%;
}

.page-image-small {
    height: auto;
    object-fit: scale-down;
    max-width: 30%;
}

.page-image2 {
    height: auto;
    object-fit: scale-down;
    max-width: 100%;
}

.page-img-text {
    font-size: 1rem;
}

.page-spacing {
    margin-top: 3em;
    margin-bottom: 3em;

}

.page-main-text a:hover {
    color: #ff015d;
    filter: brightness(150%);


}

a.page-spacing:hover {
    filter: brightness(100%);

}