.page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    grid-area: nav;
    height: auto;
    gap: 3em;

}

.page-image1 {
    height: auto;
    object-fit: scale-down;
    max-width: 100%;
}

.page-image-small {
    height: auto;
    object-fit: scale-down;
    max-width: 30%;
}

.page-image2 {
    height: auto;
    object-fit: scale-down;
    max-width: 100%;
}

.page-img-text {
    font-size: 1rem;
}

.page-spacing {
    margin-top: 3em;
    margin-bottom: 3em;

}

.page-main-text {
    font-size: 1.4rem;
}

.page-main-text a:hover {
    color: #ff015d;
    filter: brightness(150%);


}

a.page-spacing:hover {
    filter: brightness(100%);

}






@media all and (orientation: portrait) and (width <=36rem) {

    .info-container1 {
        grid-template-columns: 1fr 3fr;
        margin-left: 7.08%;
    }

    .table-nav {
        margin-top: 50px;
    }

    .child-content1 {
        margin-left: -28%;
        margin-right: 9%;
    }



}


@media all and (orientation: landscape) and (height <=36rem) {

    .child-content1 {
        margin-left: 54%;
        margin-right: 9%;
    }

    .child-top_divide {
        height: 2.0%;

    }

}

@media all and (orientation: portrait) and (36rem < width <=48rem) {

    .info-container1 {
        grid-template-columns: 1fr 3fr;
        margin-left: 5.08%;
    }

    .table-nav {
        margin-top: 50px;
    }

    .child-content1 {
        margin-left: 4%;
        margin-right: 9%;
    }
}

@media all and (orientation: landscape) and (36rem < height <=48rem) {
    .table-nav-border-container {
        top: 4%;
        left: 41%;
    }
}

@media all and (orientation: portrait) and (48rem < width < 87.5rem) {
    .table-nav-border-container {
        top: 4%;
        left: 45%;
    }
}

@media all and (orientation: landscape) and (48rem < height < 87.5rem) {
    .table-nav-border-container {
        top: 4%;
        left: 44%;
    }
}



@media all and (87.5rem <=width) {

    .info-container1 {
        display: grid;
        grid-gap: 1%;
        grid-template-areas: "top_divide top_divide" "header1 content1" "footer1 footer1";
        margin-left: 1.08%;
        margin-right: -2%;
        grid-template-columns: 1fr 3fr;
        min-width: 350px;


    }

    .child-content1 {
        margin-left: -12%;
        margin-right: 9%;
    }

    .table-nav {
        font-size: 1.7rem;
    }


}

@media all and (135rem <=width) {

    .table-nav-border-container {
        left: 28vw;
        top: 20vh;

    }

    .table-nav {
        font-size: 2vw;
    }

    .footer-container {
        font-size: 1.5vw;
    }

}