.header-items {
    position: fixed;
    top: 1%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.3em;
    z-index: 3;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.6rem;
    padding-bottom: 0%;
    background-color: #ffffff00;
    width: 100%;
    visibility: hidden;
    left: 14%;

}

.header-items.active {
    visibility: visible;
}

a {
    text-decoration: none;
}



.header-items a:hover {
    color: #ff015d;
    text-decoration: underline;
}


.menu-icon {
    display: flex;
    flex-direction: column;
    width: 30px;
    z-index: 99999;
    position: fixed;
    top: 2%;
    left: 1.5%;
    gap: 0.4em;

}

.nav-line111 {
    height: 0.12em;
    background-color: #777;
    border: none;
    display: block;

}

.nav-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2.5px solid #777;

}




@media all and (orientation: portrait) and (width <=36rem) {



    .header-items {
        flex-direction: row;
        top: 1%;
        padding-bottom: 4.5%;
        gap: 1.3em;
        width: 100%;
        font-size: 1.6rem;

    }

}

@media all and (orientation: landscape) and (height <=36rem) {
    .header-items {
        flex-direction: column;
    }

    .menu-icon {
        top: 3.5%;
    }

}


@media all and (orientation: landscape) and (36rem < height < 87.5rem) {
    
}



@media all and (87.5rem <= width) {

    .header-items {
        flex-direction: column;
        top: 4%;
        padding-bottom: 0%;
        gap: 2.0em;
        background-color: #ffffff00;
        font-size: 1.7rem;
        visibility: visible;
        left: 2.4%;
        max-width: 30%;
    }

    .menu-icon {
        display: none;
    }

}

@media all and (135rem <= width) {
        .header-items {
            font-size: 2.2vw;
        }


}