@font-face {
    font-family: NotoSerif1;
    src: url(/fonts/NotoSerif-Light.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'NotoSerif1', serif;
    color: #777
}

/* size determined by size of content and borders and margins */

:root {
    --margin_top: 1.2vh;
}



html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'NotoSerif1', serif;
    font-size: 16px;
    padding-top: var(--margin_top);


}


.info-container1 {
    display: grid;
    grid-gap: 1%;
    grid-template-areas: "top_divide top_divide" "header1 content1" "footer1 footer1";
    margin-left: 1.08%;
    margin-right: 10%;
    grid-template-columns: 1fr;
    min-width: 350px;


}

.child-top_divide {
    grid-area: top_divide;
    width: 100%;
    background-color: #ffffff;
    height: 4%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.child-header1 {
    grid-area: header1;
    width: 100%;




}

.child-content1 {
    grid-area: content1;
    margin: 1em;
    margin-left: 15%;






}

.child-footer1 {
    grid-area: footer1;
    font-size: 1rem;
    margin: 1em;
}

.table-nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-decoration: underline;

    border: 2.5px solid #777;
    box-sizing: content-box;
    padding: 8px;
    padding-right: 15px;
    padding-left: 6px;

}


.table-nav-border-container {
    display: inline-flex;
    position: relative;
    margin-bottom: 15%;
    margin-top: 1%;
    left: 38%;
    top: -1%;

}


a:hover {
    font-weight: lighter;
}



a:hover {
    filter: brightness(150%);
}

a:hover {
    color: #ff015d;
    filter: brightness(150%);
}




#consentBox {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    visibility: hidden;
}




#consentContent p {
    color: #777;
    margin: 10px 0 20px 0;
}

#consentContent .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.consentButton,
.rejectButton {
    padding: 12px 30px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.consentButton {

    color: #ff015d;
    margin-right: 10px;
}

.rejectButton {
    color: #ff015d;
    text-decoration: none;
}

#consentBox img {
    max-width: 90px;
}

#consentHeader {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}


/* DEFAULTS */
.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 18.5vh;
    padding-bottom: 3vh;
    font-size: 0.8rem;

}

.nav ul {
    font-size: 1.3rem;
    position: fixed;
    top: -1.3vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: -7.4vw;
    padding-top: 2vh;
    flex-wrap: nowrap;
    gap: 1.7vw;
    z-index: 3;


}

.hterms {
    font-size: 1.5rem;
}

.content-section {
    margin-top: 5vh;
    font-size: 2.5rem;
    color: #777;
}

.content-section1 {
    font-size: 2.5rem;
    color: #777;
    padding-top: 3vh;
    margin-top: 5vh;

}


.overflow_box_hide {
    background-color: #ffffff;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;


}

.footer {

    margin-top: 4.5vh;

}

.privacy {
    max-width: 70%;
    font-size: 1.3rem;
    margin-left: 25vw;
    margin-top: 15vh;
    padding-bottom: 10vh;

}



@media all and (orientation: portrait) and (width <=576px) {

    .info-container1 {
        grid-template-columns: 1fr 3fr;
        margin-left: 5.08%;
    }

    .table-nav {
        margin-top: 50px;
    }

    .child-content1 {
        margin-left: -28%;
        margin-right: 9%;
    }


}


@media all and (orientation: landscape) and (height <=576px) {

    .child-content1 {
        margin-left: 24%;
        margin-right: 9%;
    }

}