.works_page_container {
    display: ;
}

.tile-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.36vw, 1fr));
    grid-auto-rows: auto;
    font-family: sans-serif;
    margin-bottom: 1vh;
    max-width: 100%;
    gap: 2vw;
    column-gap: 2vw;
    transform-origin: left top;
    column-gap: 0.2vw;
}

.tile-group * {
    box-sizing: border-box;
}

.tile-single {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
    width: 100%;
}

.tile-image {
    grid-area: img;
    max-width: 100%;
    height: 26vh;
    object-fit: cover;
    display: block;
}

 .tile-text{

     padding-left: 0.5vw;
     max-width: 95%;
     word-wrap: break-word;

 }

 .tile-text.title{

     padding-left: 0.5vw;
     max-width: 95%;
     word-wrap: break-word;

 }

  .tile-text.description{

     padding-left: 0.5vw;
     max-width: 95%;
     word-wrap: break-word;

 }