* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    color: #777
  

}
/* size determined by size of content and borders and margins */

:root {
    --margin_top: 1.2vh;
  }
  
  


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  padding-top: var(--margin_top);


}


/* MOBILE VERSION */
  @media screen and (width <= 499px) and (height <= 950px) {
    
    .nav ul {
        font-size: 1.3rem;
        position: fixed;
        top: -1.3vh;
        display: flex;
        justify-content: left;
        flex-direction: row;
        margin-left: -6.4vw;
        padding-top: 2vh;
        flex-wrap: nowrap;
        gap: 1.7vw;
        z-index: 3;

        
    }

        
  }


  /* DESKTOP VERSION */
  @media screen and (width >= 500px) and (height >= 501px) {

    .nav ul {
        margin: 0;
        font-size: 1.6rem;
        position: fixed;
        max-width: 21%;
        display: flex;
        flex-direction: column;
        margin-left: -1.8vw;
        flex-wrap: wrap;
        overflow-wrap: break-word;
    
       
    }


   
}

