:root {
    --margin_menu_col1_flex: 22vw;

}

.overflow_box_hide {
    display: hide;

}

.dj_list {
    padding-left: 0;
    margin-left: 0;
    width: 100%;

}

a:hover {
    font-weight: lighter;
}

.service_text {
    margin-top: -3vh;
}

.g-container {
    display: grid;
    width: 100%;

    padding-left: 34vw;
    margin-right: 10vw;


    justify-content: center;

    gap: 2vh;

}



.gr_image1 {

    width: auto;
    height: 75vh;
    margin-top: 4vh;


}

.item-ev {
    width: 100%;
}


ul,
li {
    list-style-type: none;
}

.p {

    line-break: auto;
    word-wrap: break-word;
}


.header_email {
    margin-top: 0.1vh;
}




.courier_text {

    max-width: 80%;
}

.ev_list {
    margin-top: -2.5vh;
    max-width: 90%;
}
.service_text{
    max-width: 90%;
}







/* size determined by size of content and borders and margins */




/* MOBILE VERSION GALAXY NOTE ANDROID 11 Vertical */
@media screen and (361px <=width <=499px) and (761px <=height <=950px) {

    .g-container {

        padding-left: 12vw;
        margin-right: 10vw;
    }



    .gr_image1 {


        height: 21.5vh;
        margin-top: 5vh;


    }


    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }

    .courier_text {

        font-size: 1.2rem;
        max-width: 85%;
        margin-top: -2vh;
    }

    .ev_list {
        margin-top: -2.5vh;
        max-width: 90%;
        font-size: 1.2rem;
    }

    .header_live_performance {
        font-size: 1.4rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
    }

    .service_text {
        font-size: 1.2rem;

    }


}


/* MOBILE VERSION GALAXY NOTE ANDROID 11 Horizontal */
@media screen and (851px <=width <=950px) and (361px <=height <=450px) {

    .g-container {


        padding-left: 34vw;
        margin-right: 10vw;

    }



    .gr_image1 {

        height: 75vh;
        margin-top: 4vh;


    }

  



    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.5rem;
    }

    .courier_text {

        font-size: 1.4rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.4rem;
    }

    .service_text {
        font-size: 1.3rem;

    }

    .media_links {
        font-size: 1.1rem;
    }



}




/* MOBILE VERSION GALAXY S10 Vertical */
@media screen and (width <=360px) and (height <=760px) {

    .g-container {

        padding-left: 9vw;
        margin-right: 10vw;

    }



    .gr_image1 {

        height: 24vh;
        margin-top: 5vh;


    }



    .courier_text {

        font-size: 1.1rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.1rem;
    }

    .header_email {
        font-size: 1.1rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.28rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
    }

    .service_text{
        font-size: 1.2rem;
    }



}

/* MOBILE VERSION GALAXY S10 Horizontal */

@media screen and (width <=760px) and (height <=360px) {

    .g-container {


        padding-left: 36vw;
        margin-right: 10vw;

    }



    .gr_image1 {

        height: 75vh;
        margin-top: 4vh;


    }


    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.5rem;
    }

    .courier_text {

        font-size: 1.4rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.4rem;
    }

    .service_text {
        font-size: 1.3rem;

    }

    .media_links {
        font-size: 1.1rem;
    }

}

/* MOBILE VERSION GALAXY S20 Vertical */

@media screen and (width <=360px) and (761px<=height <=810px) {

    .g-container {


        padding-left: 9vw;
        margin-right: 10vw;
    }



    .gr_image1 {

        height: 24vh;
        margin-top: 5vh;


    }



    .courier_text {

        font-size: 1.1rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.1rem;
    }

    .header_email {
        font-size: 1.1rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.28rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
    }

    .service_text{
        font-size: 1.1rem;
    }


}

/* MOBILE VERSION Iphone 12/13 Vertical */

@media screen and (386px<=width <=395px) and (801px<=height <=860px) {

    .g-container {

        padding-left: 8vw;
        margin-right: 10vw;
    }



    .gr_image1 {

        height: 23.8vh;
        margin-top: 5vh;


    }

    .item-ev {
        width: 100%;
    }


    .courier_text {

        font-size: 1.2rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.2rem;
    }

    .header_email {
        font-size: 1.25rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.5rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
    }

    .service_text {
        font-size: 1.1rem;
    }


}


/* MOBILE VERSION Iphone 12/13 Horizontal */
@media screen and (761px <=width <=850px) and (361px <=height <=450px) {

    .g-container {


        padding-left: 32vw;
        margin-right: 10vw;

    }



    .gr_image1 {

        height: 61vh;
        margin-top: 4vh;


    }



    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.5rem;
    }

    .courier_text {

        font-size: 1.4rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.4rem;
        max-width: 85%;
    }

    .service_text {
        font-size: 1.3rem;

    }

    .media_links {
        font-size: 1.1rem;
    }



}





/* MOBILE VERSION GALAXY S20 Horizontal */

@media screen and (761px <=width <=810px) and (height <=360px) {

    .g-container {

        padding-left: 36vw;
        margin-right: 10vw;


    }



    .gr_image1 {

        height: 75vh;
        margin-top: 4vh;


    }



    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.5rem;
    }

    .courier_text {

        font-size: 1.4rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.4rem;
    }

    .service_text {
        font-size: 1.3rem;

    }

    .media_links {
        font-size: 1.1rem;
    }

}

/* MOBILE VERSION IPAD VERTICAL */
@media screen and (800px <=width <=830px) and (990px <=height <=1085px) {


    .g-container {
        display: grid;
        width: 100%;

        padding-left: 32vw;
        margin-right: 10vw;


        justify-content: center;

        gap: 2vh;
    }



    .gr_image1 {

        width: auto;
        height: 25.5vh;
        margin-top: 0.8vh;



    }

    .item-ev {
        width: 100%;
    }


    ul,
    li {
        list-style-type: none;
    }

    .p {

        line-break: auto;
        word-wrap: break-word;
    }

    .header_email {
        font-size: 1.4rem;
        margin-top: 0.1vh;
    }

    .courier_text {

        font-size: 1.2rem;
        max-width: 97%;
        margin-top: -2vh;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.2rem;
    }

    .header_live_performance {
        font-size: 1.6rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
    }

    .service_text {
        font-size: 1.2rem;
    }

    .media_links {
        font-size: 1.0rem;
    }


}

/* MOBILE VERSION IPAD HORIZONTAL */
@media screen and (831px <=width <=1100px) and (800px <=height <=830px) {


    .g-container {

        padding-left: 32vw;
        margin-right: 10vw;
    }



    .gr_image1 {

        height: 37.5vh;
        margin-top: 0.8vh;



    }


    .header_email {
        font-size: 1.5rem;
        margin-top: 0.1vh;
    }

    .courier_text {

        font-size: 1.4rem;
        max-width: 93%;
        margin-top: -2vh;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.4rem;
    }

    .header_live_performance {
        font-size: 1.7rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
        font-size: 1.2rem;
    }

    .service_text {
        font-size: 1.3rem;
    }



}

/* MOBILE VERSION Iphone SE 2ndg Vertical */
@media screen and (361px <=width <=499px) and (650px <=height <=760px) {

    .g-container {

        padding-left: 11vw;
        margin-right: 10vw;
    }



    .gr_image1 {


        height: 25vh;
        margin-top: 7vh;


    }


    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }

    .courier_text {

        font-size: 1.2rem;
        max-width: 85%;
        margin-top: -2vh;
    }

    .ev_list {
        margin-top: -2.5vh;
        max-width: 90%;
        font-size: 1.2rem;
    }

    .header_live_performance {
        font-size: 1.4rem;
        margin-top: -1vh;

    }

    .media_links {
        margin-top: -2vh;
    }

    .service_text {
        font-size: 1.2rem;

    }


}

/* MOBILE VERSION Iphone SE 2ndg Horizontal */
@media screen and (650px <=width <=760px) and (361px <=height <=380px) {

    .g-container {


        padding-left: 33vw;
        margin-right: 10vw;

    }



    .gr_image1 {

        height: 55vh;
        margin-top: 4vh;


    }



    .header_email {
        font-size: 1.28rem;
        margin-top: 0.1vh;
    }


    .header_live_performance {
        font-size: 1.5rem;
    }

    .courier_text {

        font-size: 1.4rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -2.5vh;
        font-size: 1.4rem;
        max-width: 85%;
    }

    .service_text {
        font-size: 1.3rem;

    }

    .media_links {
        font-size: 1.1rem;
    }



}




/* DESKTOP VERSION */
@media screen and (500px <=width <=799px) and (501px <=height <=989px) {


    .g-container {
        display: grid;
        grid-template-areas:
            "image bio"
            "header bio"
            "list bio";

        grid-template-columns: 1fr 1fr;



        grid-auto-rows: minmax(3vh, auto);

        width: 100%;
        left: 30vw;
        padding-left: 20vw;
        margin-right: 20vw;


        justify-content: center;

        gap: 2vh;
    }


    .gr_image1 {

        width: auto;
        height: 58vh;
        align-items: flex-start;
        grid-area: image;
        margin-top: 1vh;
    }


    .ev_header {
        font-size: 1.6rem;
        grid-area: header;


    }

    .dj_list {
        padding-left: 0;
        margin-left: 0;
        width: 100%;

    }

    ul,
    li {
        list-style-type: none;
        width: 60%;

    }

    .p {

        line-break: auto;
        word-wrap: break-word;
    }

    .ev_list {
        grid-area: list;
        margin-top: -2vh;
        font-size: 1.1rem;


    }

    .ev_list li {
        padding-bottom: 1vh;
    }

    .courier_text {


        width: 90%;
        margin-left: 3vh;
        font-size: 1.1rem;
        grid-area: bio;

    }

}



/* MOBILE VERSION Iphone SE 2nd*/
@media screen and (370px <=width <=380px) and (660px <=height <=666px) {

    .g-container {
        display: grid;
        width: 100%;

        padding-left: 30vw;
        margin-right: 10vw;


        justify-content: center;

        gap: 1vh;
    }



    .gr_image1 {

        width: auto;
        height: 20vh;
        margin-top: 4vh;
        transform: scale();


    }

    .item-ev {
        width: 100%;
    }


    ul,
    li {
        list-style-type: none;
    }

    .p {

        line-break: auto;
        word-wrap: break-word;
    }

    .ev_header {
        font-size: 1.6rem;
        margin-top: -3vh;
    }

    .courier_text {

        font-size: 1.1rem;
        max-width: 80%;
        margin-top: 3.57vh;
    }

    .ev_list {
        margin-top: -30.5vh;
        font-size: 1.1rem;
    }


    .nav {
        margin-bottom: 10vh;


    }

    .nav ul {
        margin-left: -14.4vw;
    }


}




/* DESKTOP  NARROW WIDTH 1 */
@media screen and (501px <=width <=799px) and (height >=501px) {


    .g-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        width: 100%;
        left: 30vw;
        padding-left: 40%;
        margin-right: 20vw;

        justify-content: center;

        gap: 2vh;
    }


    .gr_image1 {

        width: auto;
        height: 60vh;
        align-items: flex-start;
        grid-column-start: 1;
        grid-row-start: 1;
        display: none;
    }


    .ev_header {
        font-size: 1.6rem;
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 2;
    }



    ul,
    li {
        list-style-type: none;
        width: 60%;
    }

    .p {

        line-break: auto;
        word-wrap: break-word;
    }

    .ev_list {
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 3;
        margin-top: 0vh;
    }

    .courier_text {

        grid-column-start: 1;
        grid-row-start: 1;
        width: 90%;
        margin-left: 3vh;
        font-size: 1.1rem;
    }


    .nav ul {
        margin: 0;
        font-size: 1.6rem;
        position: fixed;
        max-width: 21%;
        display: flex;
        flex-direction: column;
        margin-left: -1.8vw;

        overflow-wrap: break-word;


    }


    .overflow_box_hide {

        display: none;

    }

    .content-section {
        margin-top: -1vh;
        font-size: 2.5rem;
        color: #777;
    }

    .content-section1 {

        font-size: 2.5rem;
        color: #777;
        padding-top: 0.1vh;
        margin-top: 0.1vh;

    }





}

@media screen and (497px <=width <=891px) and (height >=501px) {




    .nav ul {
        margin: 0;
        font-size: 1.6rem;
        position: fixed;
        max-width: 21%;
        display: flex;
        flex-direction: column;
        margin-left: -1.8vw;
        top: 4vh;
        overflow-wrap: break-word;


    }

    .content-section {
        margin-top: 5vh;
        font-size: 2.5rem;
        color: #777;
    }

    .content-section1 {
        font-size: 2.5rem;
        color: #777;
        padding-top: 3vh;
        margin-top: 5vh;

    }


    .overflow_box_hide {
        background-color: #ffffff;
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0;
        z-index: 2;


    }
}

/* DESKTOP  NARROW WIDTH 1 */
@media screen and (width:500px) and (height >=501px) {


    .g-container {
        display: grid;
        width: 100%;

        padding-left: 7vw;
        margin-right: 10vw;
        margin-top: 10vh;


        justify-content: center;

        gap: 2vh;
    }



    .gr_image1 {

        width: auto;
        height: 22vh;
        margin-top: 5vh;


    }

    .item-ev {
        width: 100%;
    }


    ul,
    li {
        list-style-type: none;
    }

    .p {

        line-break: auto;
        word-wrap: break-word;
    }

    .ev_header {
        font-size: 1.6rem;
        margin-top: -1vh;
    }

    .courier_text {

        font-size: 1.0rem;
        max-width: 80%;
    }

    .ev_list {
        margin-top: -35.5vh;
    }



    .nav ul {
        font-size: 1.3rem;
        position: fixed;
        top: -1.3vh;
        display: flex;
        justify-content: left;
        flex-direction: row;
        margin-left: -7.4vw;
        padding-top: 2vh;
        flex-wrap: nowrap;
        gap: 1.7vw;
        z-index: 3;


    }

    .content-section {
        margin-top: 5vh;
        font-size: 2.5rem;
        color: #777;
    }

    .content-section1 {
        font-size: 2.5rem;
        color: #777;
        padding-top: 3vh;
        margin-top: 5vh;

    }


    .overflow_box_hide {
        background-color: #ffffff;
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0;
        z-index: 2;


    }
}