---
title: Twilight Courier
layout: default
main_page_img1: Images/main_page/main_page_portrait.jpg
tile_portrait: "../Images/main_page/main_page_portrait.jpg"
img1: ../Images/main_page/house2.webp
img2: ../Images/main_page/img2.webp
img3: ../Images/main_page/img1.webp
meta_content: Twilight Courier
css_link1: index_main
---





{% assign ordered_col = site.collections | sort:"order_n" %}
<div class="table-nav-border-container">
    <div class="table-nav">
        {% for collection in ordered_col %}

        <a href="#{{ collection.label }}"> {{ collection.label | replace: "_", " "}}</a>
        {% endfor %}

    </div>
</div>


{% for collection in ordered_col %}



<div class="tile-header-group-container ">


    <div id="{{ collection.label }}" class="tile-header">
        {{ collection.label | replace: "_", " "}}

    </div>

    <div class="tile-group">

        {% for item in site[collection.label] %}


        <div class="tile-single">

            <a target="_blank" href=" {{ item.ex_url }} "><img class="tile-image" alt= "{{ item.tile_image_alt }}"  src="{{ item.tile_image}}"
                    onerror="this.onerror=null; this.remove();"></a>

            <a target="_self" href=" {{ item.url}} "><img class="tile-image" alt= "{{ item.tile_image_alt }}" src="{{ item.tile_image_site_url}}"
                    onerror="this.onerror=null; this.remove();"></a>


            <div class="tile-text title">
                <a href="{{ item.ex_url }}">{{ item.tile_title}}</a>
                <a href="{{ item.url }}">{{ item.tile_title_site_url }}</a>
            </div>
            <div class="tile-text title">
                {{ item.tile_description}}
            </div>



            <div class="tile-text links">
                <a href="{{ item.ex_url2 }}">{{ item.ex_url2_text}}</a>
            </div>

        </div>

        {% endfor %}

    </div>

</div>
{% endfor %}



<!--
<div class="tile-group">

    <div class="tile-single">
        <a target="_blank" href="https://youtu.be/jogSlRHZgdw"><img class="tile-image" src="VJ_Demo_Photos/run1_1.jpg">
        </a>

        <div class=tile-text-content>
            <div <span class="tile-title"> <a target="_blank" href="https://youtu.be/jogSlRHZgdw">
                    bass/dubstep1 - running, mix1 </a> </span>


                <div <p class="tile-description">
                    Elpac - Outside Ride
                    </p>
                </div>


                <div class="tile-links">
                    <a target="_blank" href=""> </a>
                </div>

            </div>
        </div>
    </div>
-->