
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300&display=swap');


@media all and (max-width: 500px) {
* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    color: #777
}
  

    :root {
        --margin_top: 1.2vh;
      }
      
  

/* size determined by size of content and borders and margins */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 15px;

}

html {
    background:#ffffff
    
}


    ul {
    list-style-type: none;
}

.main-nav{
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
}
.nav ul {
    font-size: 1.3rem;
    position: fixed;
    top: -1.3vh;
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-left: -7.4vw;
    padding-top: 2vh;
    flex-wrap: nowrap;
    gap: 10vw;

    
}

.nav li {
    display: inline;

    flex: 1 1 auto;
    
}
.nav a {
    padding-bottom: 1em;
  
    display: inline-block;
    text-decoration: none;
    
}

.nav a:hover {
font-weight: lighter;
}

.main-nav {
    text-align: left;
    font-size: 1.1em;
    width: 100%;
    background-color: #ffffff;
    padding-right: 5vw;
}

.content-section{
    padding-top: 10vh;

    font-size: 2.0em;
    color: #777;
}

.content-section1{
    padding-top: 10vh;
    font-size: 2.0em;
    color: #777;
}


.container {
   
	padding-bottom: 3vh;
}

.about-image {
    height: auto;
    width: 40%;
    margin: 15 px;
}

/*
html {
    background-color : red
}
*/



.main-header{
    font-size: 2.1em;

    border-bottom: 1px solid rgba(255, 255, 255, .3)
}
}

