
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    color: #777
  

}
/* size determined by size of content and borders and margins */

:root {
    --margin_top: 1.2vh;
  }
  
  


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  padding-top: var(--margin_top);


}

html {
    background:#ffffff

    
}


    ul {
    list-style-type: none;
}

.nav ul {
    margin: 0;
    font-size: 1.6rem;
    position: fixed;
    max-width: 21%;
    display: flex;
    flex-direction: column;
    margin-left: -1.8vw;
    flex-wrap: wrap;
    overflow-wrap: break-word;
   
}



.nav li {
    display: block;
    overflow-wrap: break-word;
    width: auto;
    
}
.nav a {
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
    display: inline-block;
    text-decoration: none;
    
}

@media all and (max-height: 300px) {
    .nav a {
        padding-bottom: 0.8rem
    }
}

@media all and (max-height: 210px) {
    .nav a {
        padding-bottom: 0.5rem;
    }
}

.nav a:hover {
font-weight: lighter;
}



.content-section{
    margin-top: -1vh;
    font-size: 2.5rem;
    color: #777;
}

.content-section1{

    font-size: 2.5rem;
    color: #777;
    padding-top: var(--margin_top);
    margin-top: 10vh;
   
}

@media all and (max-height: 570px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 20vh;
    }
}

@media all and (max-height: 480px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 30vh;
    }
}

@media all and (max-height: 410px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 45vh;
    }
}

@media all and (max-height: 380px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 52vh;
    }
}

@media all and (max-height: 360px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 70vh;
    }
}

@media all and (max-height: 340px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 80vh;
    }
}

@media all and (max-height: 320px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 90vh;
    }
}

@media all and (max-height: 300px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 105vh;
    }
}

@media all and (max-height: 260px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 122vh;
    }
}

@media all and (max-height: 240px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 150vh;
    }
}

@media all and (max-height: 230px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 200vh;
    }
}

@media all and (max-height: 200px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 270vh;
    }
}

@media all and (max-height: 180px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 350vh;
    }
}

@media all and (max-height: 150px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 450vh;
    }
}

@media all and (max-height: 120px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 2050vh;
    }
}

@media all and (max-width: 499px), and (max-height: 256px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 180vh;
    }
}

@media all and (max-width: 451px), and (max-height: 203px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 220vh;
    }
}

@media all and (max-width: 451px), and (max-height: 179px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 550vh;
    }
}

@media all and (max-width: 451px), and (max-height: 179px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 550vh;
    }
}

@media all and (max-width: 501px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 90vh;
    }
}

@media all and (max-width: 499px), and (max-height: 615px) {
    .content-section1{
        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 130vh;
    }
}






.container {
    max-width: 70vw;
	padding-bottom: 3vh;
}

.about-image {
    height: auto;
    width: 40%;
    margin: 15vh;
}

/*
html {
    background-color : red
}
*/



