@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;300&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    color: #777
}

/* size determined by size of content and borders and margins */

:root {
    --margin_top: 1.2vh;
}




html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    padding-top: var(--margin_top);


}


@media all and (max-height: 200px) {

    body {
        padding-top: 0vh;
    }
}

html {
    background: #ffffff
}


ul {
    list-style-type: none;
}

.link_event_promo {
    width: 0.1vw;
    height: 1vh;
    margin-top: 2vh;
}



/* DEFAULTS */
.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 18.5vh;
    padding-bottom: 3vh;
    font-size: 0.8rem;

}

.nav ul {
    font-size: 1.3rem;
    position: fixed;
    top: -1.3vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: -7.4vw;
    padding-top: 2vh;
    flex-wrap: nowrap;
    gap: 1.7vw;
    z-index: 3;


}

.content-section {
    margin-top: 5vh;
    font-size: 2.5rem;
    color: #777;
}

.content-section1 {
    font-size: 2.5rem;
    color: #777;
    padding-top: 3vh;
    margin-top: 5vh;

}


.overflow_box_hide {
    background-color: #ffffff;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;


}

.footer {

    margin-top: 4.5vh;

}

/* MOBILE VERSION GALAXY NOTE ANDROID 11 Vertical */

@media screen and (386px <=width <=499px) and (761px <=height <=950px) {



    .nav ul {

        flex-direction: row;


    }



}

/* MOBILE VERSION GALAXY NOTE ANDROID 11 Horizontal */
@media screen and (761px <=width <=950px) and (361px <=height <=450px) {


    .nav ul {

        margin-left: -3.4vw;
        top: 4.5vh;


    }



    .overflow_box_hide {
        height: 11vh;

    }

    .footer {
        font-size: 0.9rem;
        padding-bottom: 7vh;
        margin-top: 8vh;
    }

}

/* MOBILE VERSION GALAXY S10 Vertical */
@media screen and (width <=360px) and (height <=760px) {

    .nav ul {
        font-size: 1.2rem;
        flex-direction: row;
        margin-left: -14.4vw;
        padding-top: 2vh;
        gap: 1vw;


    }

    

    .footer {

        margin-top: 4.5vh;

    }


}

/* MOBILE VERSION GALAXY S10 Horizontal */

@media screen and (width <=760px) and (height <=360px) {

    .nav ul {

        margin-left: -3.4vw;
        top: 4.5vh;



    }




    .overflow_box_hide {
        height: 11vh;

    }

    .footer {
        font-size: 0.9rem;
        padding-bottom: 5vh;
    }

}

/* MOBILE VERSION GALAXY S20 Vertical */

@media screen and (width <=360px) and (761px<=height <=810px) {
    .nav ul {
        font-size: 1.2rem;
        flex-direction: row;
        margin-left: -14.4vw;
        gap: 1vw;


    }


    .footer {

        margin-top: 4.5vh;

    }


}

/* MOBILE VERSION GALAXY S20+ Vertical */

@media screen and (361px<=width <=385px) and (801px<=height <=860px) {
    .nav ul {
        font-size: 1.2rem;
        flex-direction: row;
        margin-left: -10.4vw;
        gap: 0vw;
        z-index: 3;


    }


    .footer {

        margin-top: 4.5vh;

    }


}


/* MOBILE VERSION Iphone 12/13 Vertical */

@media screen and (386px<=width <=395px) and (801px<=height <=860px) {
    .nav ul {
        font-size: 1.2rem;
        flex-direction: row;
        margin-left: -10.4vw;
        gap: 0vw;


    }

    .footer {

        margin-top: 4.0vh;
        padding-bottom: 2vh;

    }


}

/* MOBILE VERSION IPAD VERTICAL */
@media screen and (800px <=width <=830px) and (990px <=height <=1085px) {

    .nav ul {
        margin-left: -3.4vw;
        top: 4.5vh;

    }



    .overflow_box_hide {

        height: 11vh;
    }

    .footer {
        font-size: 0.9rem;
        padding-bottom: 1.5vh;
        margin-top: 5vh;
    }

}

/* MOBILE VERSION IPAD HORIZONTAL */
@media screen and (831px <=width <=1100px) and (800px <=height <=830px) {
    .nav ul {
    
        margin-left: -3.4vw;
        top: 4.5vh;



    }

   


    .overflow_box_hide {
       
        height: 11vh;

    }

    .footer {
        font-size: 0.9rem;
        padding-bottom: 1.5vh;
        margin-top: 5vh;
    }

}

/* MOBILE VERSION GALAXY S20 Horizontal */
@media screen and (761px <=width <=810px) and (height <=360px) {

    .nav ul {
        margin-left: -3.4vw;
        top: 4.5vh;

    }



    .overflow_box_hide {
        height: 11vh;
    }

    .footer {
        font-size: 0.9rem;
        padding-bottom: 7vh;
        margin-top: 8vh;
    }

}


/* MOBILE VERSION Iphone SE 2ndg Vertical */
@media screen and (361px <=width <=499px) and (650px <=height <=760px) {

    .nav ul {
        font-size: 1.25rem;
        flex-direction: row;
        margin-left: -12.4vw;

    }

    .footer {

        margin-top: 4.5vh;

    }

}

/* MOBILE VERSION Iphone SE 2ndg Horizontal */
@media screen and (650px <=width <=760px) and (361px <=height <=380px) {

    .footer {
        font-size: 0.8rem;
    }
}

/* MOBILE VERSION Kindle Fire HDX VERTICAL */
@media screen and (780px <=width <=830px) and (1086px <=height <=1350px) {

    .nav ul {
        font-size: 1.4rem;
        margin-left: -3.4vw;
        top: 0.5vh;

    }


    .overflow_box_hide {
        height: 3vh;
    }


    .footer {
        font-size: 0.9rem;
    }
}


/* MOBILE VERSION Kindle Fire HDX HORIZONTAL */
@media screen and (1101px <=width <=1300px) and (750px <=height <=830px) {



    .nav ul {
        top: 2.5vh;
    }


    .nav ul {
        font-size: 1.5rem;
        margin-left: -2.4vw;
        top: 0.5vh;
    }


    .overflow_box_hide {
      
        height: 3vh;
    }

    .footer {
        font-size: 0.95rem;
    }

}

/* DESKTOP VERSION */

@media screen and (width >=1301px) and (height >=501px) {

    .nav ul {
        margin: 0;
        font-size: 1.5rem;
        position: fixed;
        max-width: 21%;
        display: flex;
        flex-direction: column;
        margin-left: -1.8vw;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        top: 2.2vh;


    }


    .overflow_box_hide {

        display: none;

    }

    .content-section {
        margin-top: -1vh;
        font-size: 2.5rem;
        color: #777;
    }

    .content-section1 {

        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 1vh;

    }

    .link_event_promo {
        margin-top: 6.5vh;
    }

    .footer{
        font-size: 1rem;
    }
}

/* WEB VERSION LARGE */

@media screen and (2500px <=width) and (height >=501px) {

    .nav ul {
        margin: 0;
        font-size: 1.6rem;
        position: fixed;
        max-width: 21%;
        display: flex;
        flex-direction: column;
        margin-left: -1.5vw;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        transform-origin: left top;
        transform: scale(1.6);


    }


    .overflow_box_hide {

        display: none;

    }

    .content-section {
        margin-top: -1vh;
        font-size: 2.5rem;
        color: #777;
    }

    .content-section1 {

        font-size: 2.5rem;
        color: #777;
        padding-top: var(--margin_top);
        margin-top: 1vh;

    }
}



.nav a:hover {
    font-weight: lighter;
}






.container {
    max-width: 70vw;


}

.about-image {
    height: auto;
    width: 40%;
    margin: 15vh;
}




.nav li {
    display: block;
    overflow-wrap: break-word;
    width: auto;

}

.nav a {
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
    display: inline-block;
    text-decoration: none;

}