 .g-container {
     display: grid;
     grid-template-areas:
         "vjdemo_header_"
         "vjdemo_videos_"
         "event_link"
         "evpromo_header_"
         "evpromo_videos_"
         "footer";

     grid-template-columns: 1fr;
     grid-auto-rows: minmax(3vh, auto);

     margin-left: 20.5vw;
     margin-right: 1vw;
     padding-right: 3vw;
     gap: 9vh;
 }

 .tile-group {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(16.36vw, 1fr));
     grid-auto-rows: auto;
     font-family: sans-serif;
     margin-bottom: 1vh;
     max-width: 100%;
     gap: 2vw;
     transform-origin: left top;
     column-gap: 0.2vw;
 }

 .tile-group * {
     box-sizing: border-box;
 }

 .tile-text-content {

     padding-left: 0.5vw;
     max-width: 95%;
     word-wrap: break-word;

 }

 .tile-single {
     display: flex;
     flex-direction: column;
     gap: 3.5vh;
     width: 100%;

 }

 .tile-image {
     grid-area: img;
     max-width: 100%;
     height: 26vh;
     object-fit: cover;
     display: block;


 }


 .tile-single img:hover {
     filter: brightness(150%);

 }


 .tile-title {
     grid-area: description;
     width: 100%;
     height: auto;
     margin-bottom: 1.3vh;
     font-size: 1.4rem;
     order: 1;

 }


 .tile-title a {
     font-style: italic;
     font-weight: bold;
     color: #ff015d;
     font-style: italic;
     text-decoration: underline;


 }

 .tile-title a:hover {
     filter: brightness(150%);
 }


 .tile-descriptions {
     grid-area: description;
     justify-content: space-between;
     align-items: center;
     font-family: 'Noto Serif', serif;
     font-size: 2rem;
     height: auto;
     order: 2;

 }

 .tile-links {
     grid-area: links;
     order: 3;
     display: block;
     justify-content: space-between;
 }

 .tile-links a:hover {
     color: #ff015d;
     filter: brightness(150%);
 }



 .vjdemo_header {
     grid-area: vjdemo_header_;
     margin-top: 1.5vh;
     font-size: 2.5rem;
     color: #777;
 }

 .vjdemo_videos {
     grid-area: vjdemo_videos_;
 }

 .evpromo_header {
     grid-area: evpromo_header_;
     font-size: 2.5rem;
     color: #777;
     padding-top: 3vh;
     margin-top: 6vh;
     margin-bottom: 3.5vh;
 }

 .evpromo_videos {
     grid-area: evpromo_videos_;
 }

 .footer {
     grid-area: footer;
     margin-top: 10.5vh;
     padding-top: 2.5vh;
     padding-bottom: 4vh;
 }

 .event_promo_link {
     background: #ffffff;
     grid-area: event_link;
     height: 2vh;
     width: 100%;
 }

 .overflow_box_hide {
     height: 7vh;
 }

 /* DESKTOP  NARROW 1 VERSION */
 @media screen and (1156px<=width <=1220px) and (height >=210px) {
     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(20.36vw, 1fr));
     }

 }

 /* DESKTOP  NARROW 2 VERSION */
 @media screen and (967px<=width <=1155px) and (height >=210px) {

     .g-container {
         padding-right: 12vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(26.36vw, 1fr));
     }

 }

 /* DESKTOP  NARROW 3 VERSION */
 @media screen and (630px<=width <=966px) and (height >=210px) {

     .g-container {
         padding-right: 12vw;
         padding-left: 14vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
     }

 }


 /* DESKTOP  NARROW 4 VERSION */
 @media screen and (width <=629px) and (height >=210px) {

     .g-container {
         padding-right: 12vw;
         padding-left: 18.5vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
     }

 }

 /* DESKTOP  NARROW 5 VERSION */
 @media screen and (width <=523px) and (height >=210px) {

     .g-container {
         margin-top: 12vh;
         margin-left: -5vw;
     }

     .overflow_box_hide {
         display: block;
         height: 10.5vh;
     }

 }

 /* DESKTOP SHORT 1 VERSION */
 @media screen and (height <=310px) {

     .tile-image {
         display: none;
     }

     .overflow_box_hide {
         display: block;
     }
 }

 /* DESKTOP SHORT 1, NARROW VERSION */
 @media screen and (width <=520px) {

     .nav ul {
         flex-direction: row;
     }

     .tile-image {
         display: block;
     }

     .g-container {
         margin-top: 18vh;
     }

     .overflow_box_hide {
         display: block;
     }
 }


 /* DESKTOP SHORT 1, NARROW VERSION */
 @media screen and (width <=500px) {

     .nav ul {
         flex-direction: row;
     }

     .tile-image {
         display: none;
     }

     .g-container {
         margin-top: 18vh;
     }

     .overflow_box_hide {
         display: block;
     }
 }




 /* MOBILE VERSION GALAXY NOTE ANDROID 11 Vertical */
 @media screen and (380px <=width <=499px) and (761px <=height <=950px) {

     .g-container {
         margin-left: 1.4vh;
         margin-right: 0.5vh;
         margin-top: 5vh;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(38.36vw, 1fr));
         gap: 3vw;
     }

     .tile-image {
         height: 14vh;
         display: block;
     }

     .overflow_box_hide {
         display: block;
     }

     .vjdemo_header {
         margin-top: 4vh;
         margin-bottom: -5vh;
         margin-left: 3vw;
     }

     .evpromo_header {
         margin-bottom: -5vh;
         margin-left: 3vw;
         margin-top: -5vh;

     }


     .event_promo_link {
         height: 1vh;


     }

     .tile-title {
         max-width: 100%;
         word-wrap: break-word;
         font-size: 1.2rem;

     }

     .tile-text-content {
         margin-left: 2vw;
     }

 }


 /* MOBILE VERSION GALAXY NOTE S20 Horizontal */
 @media screen and (891px <=width <=950px) and (361px <=height <=450px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.0vw;

     }

     .tile-image {
         height: 40vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }

 /* MOBILE VERSION GALAXY NOTE S20 UltraHorizontal */
 @media screen and (860px <=width <=890px) and (361px <=height <=450px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.3vw;

     }

     .tile-image {
         height: 40vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }

 /* MOBILE VERSION GALAXY S10 Vertical */
 @media screen and (width <=360px) and (700px<=height <=760px) {

     .g-container {
         margin-left: 1.4vh;
         margin-right: 0.5vh;
         margin-top: 5vh;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(41.36vw, 1fr));
         gap: 3vw;
     }

     .tile-image {
         height: 17vh;
         display: block;
     }

     .overflow_box_hide {
         display: block;
     }

     .vjdemo_header {
         margin-top: 4vh;
         margin-bottom: -5vh;
         margin-left: 3vw;
     }

     .evpromo_header {
         margin-bottom: -5vh;
         margin-left: 3vw;
         margin-top: -5vh;

     }

     .event_promo_link {
         height: 1vh;


     }

     .tile-title {
         max-width: 100%;
         word-wrap: break-word;
         font-size: 1.1rem;
     }

 }

 /* MOBILE VERSION GALAXY S10 Horizontal */

 @media screen and (650px <=width <=760px) and (350px <=height <=360px) {

     .nav ul {
         max-width: 25%;
         margin-left: -4vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.3vw;

     }

     .tile-image {
         height: 40vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }

 /* MOBILE VERSION GALAXY S20 Vertical */
 @media screen and (width <=360px) and (761px<=height <=810px) {


     .g-container {
         margin-left: 1.4vh;
         margin-right: 0.5vh;
         margin-top: 5vh;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(41.36vw, 1fr));
         gap: 3vw;
     }

     .tile-image {
         height: 12vh;
         display: block;
     }

     .overflow_box_hide {
         display: block;
     }

     .vjdemo_header {
         margin-top: 4vh;
         margin-bottom: -5vh;
         margin-left: 3vw;
     }

     .evpromo_header {
         margin-bottom: -5vh;
         margin-left: 3vw;
         margin-top: -5vh;

     }

     .event_promo_link {
         height: 1vh;


     }

     .tile-title {
         max-width: 100%;
         word-wrap: break-word;
         font-size: 1.15rem;
     }


 }

 /* MOBILE VERSION GALAXY S20 Horizontal */

 @media screen and (761px <=width <=810px) and (351px <=height <=360px) {

     .nav ul {
         max-width: 25%;
         margin-left: -4vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.6vw;

     }

     .tile-image {
         height: 40vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }

 /* MOBILE VERSION GALAXY S20+ Horizontal */

 @media screen and (800px <=width <=858px) and (375px <=height <=390px) {

     .nav ul {
         max-width: 25%;
         margin-left: -4vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(37.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 4vw;

     }

     .tile-image {
         height: 41vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }

 /* MOBILE VERSION IPAD VERTICAL */
 @media screen and (800px <=width <=830px) and (990px <=height <=1085px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;
         margin-top: -3vh;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.0vw;

     }

     .tile-image {
         height: 14vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -1vh;
     }

     .evpromo_header {
         margin-top: -11vh;
         margin-bottom: 0.5vh;
         padding-bottom: -10vh;
     }

     .evpromo_videos {
         margin-top: -3vh;
     }

     .nav ul {
         max-width: 25%;
     }
 }

 /* MOBILE VERSION IPAD HORIZONTAL */
 @media screen and (831px <=width <=1100px) and (800px <=height <=830px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;
         margin-top: -3vh;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 2vw;
         padding-left: 4.0vw;

     }

     .tile-image {
         height: 24vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -1vh;
     }

     .evpromo_header {
         margin-top: -11vh;
         margin-bottom: 0.5vh;
         padding-bottom: -10vh;
     }

     .evpromo_videos {
         margin-top: -3vh;
     }

     .nav ul {
         max-width: 25%;
     }
 }

 /* MOBILE VERSION iphone 11 pro Vertical */
 @media screen and (361px <=width <=379px) and (761px <=height <=950px) {

     .g-container {
         margin-left: 1.4vh;
         margin-right: 0.5vh;
         margin-top: 5vh;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(38.36vw, 1fr));
         gap: 3vw;
     }

     .tile-image {
         height: 14vh;
         display: block;
     }

     .overflow_box_hide {
         display: block;
     }

     .vjdemo_header {
         margin-top: 4vh;
         margin-bottom: -5vh;
         margin-left: 3vw;
     }

     .evpromo_header {
         margin-bottom: -5vh;
         margin-left: 3vw;
         margin-top: -5vh;

     }


     .event_promo_link {
         height: 1vh;


     }

     .tile-title {
         max-width: 100%;
         word-wrap: break-word;
         font-size: 1.2rem;
     }

     .tile-descriptions {
         max-width: 100%;
     }

     .tile-text-content {
         margin-left: 3vw;
         max-width: 100%;

     }



 }

 /* MOBILE VERSION Kindle Fire HDX VERTICAL */
 @media screen and (780px <=width <=830px) and (1086px <=height <=1350px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 1.5vw;
         margin-top: -5vh;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 1vw;
         padding-left: 3.0vw;

     }

     .tile-image {
         height: 13vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -0vh;
         margin-left: 1vw;
     }

     .evpromo_header {
         margin-top: -11vh;
         margin-bottom: 0.5vh;
         padding-bottom: -10vh;
     }

     .evpromo_videos {
         margin-top: -3vh;
     }

     .nav ul {
         max-width: 25%;
     }
 }


 /* MOBILE VERSION Kindle Fire HDX HORIZONTAL */
 @media screen and (1101px <=width <=1301px) and (750px <=height <=830px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;
         margin-top: -3vh;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 6.0vw;

     }

     .tile-image {
         height: 26vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -1vh;
     }

     .evpromo_header {
         margin-top: -11vh;
         margin-bottom: 0.5vh;
         padding-bottom: -10vh;
     }

     .evpromo_videos {
         margin-top: -3vh;
     }

     .nav ul {
         max-width: 25%;
     }
 }

 /* MOBILE VERSION Iphone SE 2nd VERTICAL*/
 @media screen and (370px <=width <=380px) and (660px <=height <=670px) {

     .g-container {
         margin-left: 1.4vh;
         margin-right: 0.5vh;
         margin-top: 5vh;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(38.36vw, 1fr));
         gap: 3vw;
     }

     .tile-image {
         height: 14vh;
         display: block;
     }

     .overflow_box_hide {
         display: block;
     }

     .vjdemo_header {
         margin-top: 8vh;
         margin-bottom: -5vh;
         margin-left: 3vw;
         font-size: 2.4rem;
     }

     .evpromo_header {
         margin-bottom: -5vh;
         margin-left: 3vw;
         margin-top: -5vh;
         font-size: 2.4rem;

     }


     .event_promo_link {
         height: 1vh;


     }

     .tile-title {
         max-width: 100%;
         word-wrap: break-word;
         font-size: 1.2rem;
     }

     .tile-descriptions {
         max-width: 100%;
     }

     .tile-text-content {
         margin-left: 3vw;
         max-width: 100%;

     }



 }

 /* MOBILE VERSION Iphone SE 2ndg Horizontal */
 @media screen and (650px <=width <=760px) and (361px <=height <=380px) {

     .nav ul {
         max-width: 25%;
         margin-left: -4vw;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 5.3vw;

     }

     .tile-image {
         height: 33vh;
         display: block;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }

     .tile-title {
         max-width: 100%;
         word-wrap: break-word;
         font-size: 1.15rem;
     }

     .footer {
         font-size: 1.0rem;
     }
 }