 .g-container {
     display: grid;
     grid-template-areas:
         "vjdemo_header_"
         "vjdemo_videos_"
         "event_link"
         "evpromo_header_"
         "evpromo_videos_"
         "footer";

     grid-template-columns: 1fr;
     grid-auto-rows: minmax(3vh, auto);

     margin-left: 20.5vw;
     margin-right: 1vw;
     padding-right: 3vw;
     gap: 9vh;
 }

 .tile-group {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(16.36vw, 1fr));
     grid-auto-rows: auto;
     font-family: sans-serif;
     margin-bottom: 1vh;
     max-width: 100%;
     gap: 2vw;
     transform-origin: left top;
     column-gap: 0.2vw;
 }

 .tile-group * {
     box-sizing: border-box;
 }

 .tile-text-content {

     padding-left: 0.5vw;
     max-width: 95%;
     word-wrap: break-word;

 }

 .tile-single {
     display: flex;
     flex-direction: column;
     gap: 3.5vh;
     width: 100%;

 }

 .tile-image {
     grid-area: img;
     max-width: 100%;
     height: 26vh;
     object-fit: cover;
     display: block;


 }


 .tile-single img:hover {
     filter: brightness(150%);

 }


 .tile-title {
     grid-area: description;
     width: 100%;
     height: auto;
     margin-bottom: 1.3vh;
     font-size: 1.4rem;
     order: 1;

 }


 .tile-title a {
     font-style: italic;
     font-weight: bold;
     color: #ff015d;
     font-style: italic;
     text-decoration: underline;


 }

 .tile-title a:hover {
     filter: brightness(150%);
 }


 .tile-descriptions {
     grid-area: description;
     justify-content: space-between;
     align-items: center;
     font-family: 'Noto Serif', serif;
     font-size: 2rem;
     height: auto;
     order: 2;

 }

 .tile-links {
     grid-area: links;
     order: 3;
     display: block;
     justify-content: space-between;
 }

 .tile-links a:hover {
     color: #ff015d;
     filter: brightness(150%);
 }



 .vjdemo_header {
     grid-area: vjdemo_header_;
     margin-top: 1.5vh;
     font-size: 2.5rem;
     color: #777;
 }

 .vjdemo_videos {
     grid-area: vjdemo_videos_;
 }

 .evpromo_header {
     grid-area: evpromo_header_;
     font-size: 2.5rem;
     color: #777;
     padding-top: 3vh;
     margin-top: 6vh;
     margin-bottom: 3.5vh;
 }

 .evpromo_videos {
     grid-area: evpromo_videos_;
 }

 .footer {
     grid-area: footer;
     margin-top: 10.5vh;
     padding-top: 2.5vh;
     padding-bottom: 4vh;
 }

 .event_promo_link {
     background: #ffffff;
     grid-area: event_link;
     height: 2vh;
     width: 100%;
 }

 .overflow_box_hide {
     height: 7vh;
 }

 /* MOBILE VERSION GALAXY NOTE ANDROID 11 Vertical */
 @media screen and (361px <=width <=499px) and (761px <=height <=950px) {

     .g-container {
         margin-left: 1.4vh;
         margin-right: 0.5vh;
     }

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(38.36vw, 1fr));
         gap: 3vw;
     }

     .tile-image {
         height: 14vh;
     }

     .overflow_box_hide {
         display: block;
     }

     .vjdemo_header {
         margin-top: 4vh;
         margin-bottom: -5vh;
         margin-left: 3vw;
     }

     .evpromo_header {
         margin-bottom: -5vh;
         margin-left: 3vw;
         margin-top: -5vh;

     }

     .evpromo_videos {}

     .event_promo_link {
         height: 1vh;


     }

     .tile-title {
         max-width: 90%;
         word-wrap: break-word
     }

 }


 /* MOBILE VERSION GALAXY NOTE S20 Horizontal */
 @media screen and (891px <=width <=950px) and (361px <=height <=450px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.0vw;

     }

     .tile-image {
         height: 40vh;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }

  /* MOBILE VERSION GALAXY NOTE S20 UltraHorizontal */
 @media screen and (860px <=width <=890px) and (361px <=height <=450px) {

     .tile-group {
         grid-template-columns: repeat(auto-fill, minmax(36.36vw, 1fr));
         gap: 0vw;

     }

     .g-container {

         margin-right: 0vw;
         padding-right: 0vw;
         padding-left: 2.3vw;

     }

     .tile-image {
         height: 40vh;
     }

     .vjdemo_header {
         margin-top: -2vh;
     }

     .evpromo_header {
         margin-top: -11vh;
     }
 }