 <div class="page-main-text">
                I am a visual accompanist. My work features themes inspired by fantasy and broken technology. I usually
                do
                visuals for harder styles of music such as (Hardcore, Hardstyle, Gabber, J-core, Happy Hardcore,
                Speedcore,
                Electro, DnB).
                <br><br>When planning visuals for an event, I enjoy collaborating with event organizers to ensure that
                visual design is fully supporting the concept and energy of their event. I design visual themes that fit
                with the event's marketing as well as assisting with coordinating venue lighting, video projection,
                video
                mapping, and stage design.

                <br><br>I have mixed visuals at Club Kaiku, which is one of the most established nightclubs in
                Helsinki, frequently hosting international DJs. I was selected to participate in the national VJ
                competition in the city of Tampere. I have played at many underground parties, festivals, and
                events.

                <br><br>I have had the opportunity to provide visuals for performers such as

                <ul class="performer_list">
                    {% include performer_list.html %}

                </ul>

            </div>