<!DOCTYPE html>
<html>

<head>
    <title>
        {{ site.title }}
    </title>
    <meta name="description" content="VJ providing concert visuals, customized animations to promote events,
and specialised audio reactive video loops ">
    <meta name="keywords" content="VJ,Concert Visuals,Resolume, customized promotional animations,
audio reactive, Club Kaiku, Twilight Courier, twilightcourier, hardcore VJ, speedcore visuals">
    <meta name="author" content="Twilight Courier">

    <meta property=“og:title” content=“Twilight, VJ specialising in visuals for harder styles of electronic music and
        creating customized animations to promote events” />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Images/logo.jpg" />
    <meta property=“og:url” content=“https://www.twilightcourier.com” />
    <meta property=“og:description” content=“VJ providing concert visuals, customized animations to promote events, and
        specialised audio reactive video loops ” />

    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/tile1.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/header.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/about.css" />

    <link rel="icon" href="Images/logo.png">


</head>

<body>

    <div class="info-container1">
        {% include cookie_banner.html %}

        <div class="child-top_divide">

        </div>


        <div class="child-header1">
            {% include header.html %}
        </div>


        <div class="child-content1">

            {{ content }}
        </div>

        <div class="child-footer1">
            {% include footer.html %}
        </div>

    </div>

    <script src="{{ site.baseurl }}/js/app.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>
</body>

</html>